#root {
  text-decoration: none;
  overflow-x: hidden;
}

/* Colores Generales */
.bg-naranja {
  background-color: #FFAA5C;
}

.bg-naranja-claro {
  background-color: #FFC48D;
}

/* Componente Nav */

.logo-libre-ando {
  width: 90px;
  height: 60px;
}

.nav-link {
  font-size: 20px !important;
}


/* Footer */

/* Componente Redes Sociales */

.logoNN {
  max-width: 16px;
  max-height: 16px;
}

.Pblc {
  font-size: .8rem;
}

.container-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.redes a,
.icon-mensaje {
  display: block;
  text-decoration: none;
  background-color: #f19035;
  color: white;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  font-size: 30px;
}

.redes a:hover {
  background: white;
  /* color: #f19035; */
}

.icono-whatsapp:hover {
  color: #25D366;
}

.redes:hover .icono-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.redes a {
  margin-bottom: 7px;
  color: white;
}

.redes {
  bottom: 70px;
  /* Ajusta esta distancia según tus necesidades */
  right: 0;
  opacity: 1;
  transform: translateY(100%);
  /* Comienza oculto debajo */
  pointer-events: none;
  /* Deshabilita la interacción en elementos ocultos */
  transition: transform .6s ease, opacity .6s ease;
}

.showRedes {
  transform: translateY(-15%);
  opacity: 1;
  pointer-events: auto;
}

.hideRedes {
  transform: translateY(0);
  /* Oculta al nivel del icono de mensaje */
  opacity: 0;
  pointer-events: none;
}

/* Talleres */

.button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.button.learn-more {
  width: 12rem;
  height: auto;
}

.button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #FFAA5C;
  border-radius: 1.625rem;
}

.button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.button:hover .circle {
  width: 100%;
}

.button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.button:hover .button-text {
  color: #fff;
}

.border-none {
  border: none !important;
}


div.swiper-button-next::after,
div.swiper-button-prev::after {
  color: white;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  background-color: white;
}

@media (max-width: 991px) {
  span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main,
  span.swiper-pagination-bullet.swiper-pagination-bullet-active-next {
    background-color: rgb(0, 153, 255);
  }
}
@media (max-width: 768px) {
  span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main,
  span.swiper-pagination-bullet.swiper-pagination-bullet-active-next {
    background-color: white!important;
  }
}