#root {
  text-decoration: none;
  overflow-x: hidden;
}

/* Colores Generales */
.bg-naranja {
  background-color: #FFAA5C;
}

.bg-naranja-claro {
  background-color: #FFC48D;
}

/* Componente Nav */

.logo-libre-ando {
  width: 90px;
  height: 60px;
}

.nav-link {
  font-size: 20px !important;
}


/* Footer */

/* Componente Redes Sociales */

.container-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.redes a,
.icon-mensaje {
  display: block;
  text-decoration: none;
  background-color: #f19035;
  color: white;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 1s ease;
  font-size: 30px;
}

.redes a:hover {
  background: white;
  /* color: #f19035; */
}

.icono-whatsapp:hover {
  color: #25D366;
}

.redes:hover .icono-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}


.redes a {
  margin-bottom: 7px;
  color: white;
}

.redes {
  bottom: 70px;
  /* Ajusta esta distancia según tus necesidades */
  right: 0;
  opacity: 1;
  transform: translateY(100%);
  /* Comienza oculto debajo */
  pointer-events: none;
  /* Deshabilita la interacción en elementos ocultos */
  transition: transform .6s ease, opacity .6s ease;
}

.showRedes {
  transform: translateY(-15%);
  opacity: 1;
  pointer-events: auto;
}

.hideRedes {
  transform: translateY(0);
  /* Oculta al nivel del icono de mensaje */
  opacity: 0;
  pointer-events: none;
}